html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: url("/assets/bg-red.jpg") 50% 0 no-repeat #cc1433;
}

#brn-promo {
  top: 50%;
  background-size: cover;
}
#brn-promo h1 {
  margin-top: 96px;
}
#brn-promo h1,
#brn-promo p.lead {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}
#brn-promo p.lead {
  margin-top: 24px;
}
#brn-promo .fluid-width-video-wrapper {
  margin-top: 96px;
  margin-bottom: 72px;
}
